[Twitter]
consumer_key        = write here
consumer_secret     = write here
access_token_key    = write here
access_token_secret = write here

[Flickr]
username            = write here
user_nsid           = write here
api_key             = write here
api_secret          = write here
oauth_token_key     = write here
oauth_token_secret  = write here
