<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ぁ単語ダッシボード</title>
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}" type="text/css">
  </head>
  <body>
    <h1>ぁ単語ダッシボード</h1>
    <table>
      <tr>
        <th>生存</th>
        <th>いそがしさ</th>
        <th>メモリー</th>
      </tr>
      <tr>
        <td>{{heartbeat}}</td>
        <td>{{cpuusage}} %</td>
        <td>{{memusage}} %</td>
      </tr>
    </table>
      {{log}}
 </body>
</html>
