<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>kuhakuがつくったものたち</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sov.css') }}" type="text/css">
  </head>
  <body>
    <h1>kuhakuがつくったものたち</h1>
    <h2>こんてんつ</h2>
    <ul>
        <li><a href="now_or_past">@qwerty Now or Past</a></li>
        <li><a href="sov">sov もどき (WIP)</a></li>
        <li><a href="demo/conversation.html">Speech Dialogue System</a></li>
        <li><a href="dashboard">ぁ単語 Dashboard</a></li>
    </ul>
    <h2>りんく</h2>
    <ul>
        <li><a href="https://github.com/kuhaku/atango">Github.com - atango</a></li>
        <li><a href="https://twitter.com/sw_words">Twitter.com - sw_words</a></li>
        <li><a href="https://www.flickr.com/photos/sw_words">Flickr - sw_words</a></li>
    </ul>
 </body>
</html>
