<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>sw_words MeCab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sov.css') }}" type="text/css">
    <style>
      input {font-size: 100%}
    </style>
  </head>
  <body>
    <h1>MeCab Console</h1>
    <h2>Check by current MeCab</h2>
    <pre id="result">{{ ma_result }}</pre>
    <form method="POST">
      <textarea name="ma" rows=3 cols=50></textarea>
      <select name="nbest">
      {% for i in range(1, 16) %}
        <option value="{{i}}">{{ i }}</option>
      {% endfor %}
      </select>
      <input type="submit" value="解析">
    </form>
    <h2>Add term</h2>
    <pre>{{ term_added_message }}</pre>
    <form method="POST">
      Term: <input type="text" name="term"><br>
      Pronounciation: <input type="text" name="yomi"><br>
      Lemma: <input type="text" name="lemma"><br>
      <select name="pos">
      {% for pos in PARTS_OF_SPEECH %}
        <option value="{{pos}}">{{ pos }}</option>
      {% endfor %}
      </select>
      <input type="submit" name="add" value="Add">
    </form>
    <h2>Delete term</h2>
    <form method="POST">
      Line: <input type="text" name="del_line"> <input type="submit" name="del" value="Delete">
    </form>
    <h2>Check POS matrix</h2>
    <p>{{ check_matrix_message }}</p>
    <form method="POST">
      <input type="text" name="lid" size=4> <input type="text" name="rid" size=4>
      <input type="submit" name="chk_matrix" value="Check">
    </form>
    <h2>Edit POS matrix</h2>
    <p>{{ edit_matrix_message }}</p>
    <form method="POST">
      <input type="text" name="lid" size=4> <input type="text" name="rid" size=4>
      <input type="text" name="cost" size=4>
      <input type="submit" name="matrix" value="Apply">
    </form>
    <h2>Search</h2>
    {% if search_result %}
    <pre>{{ search_result }}</pre>
    {% endif %}
    <form method="POST">
      <input type="text" name="search_query"> <input type="submit" name="search" value="Search">
    </form>
    <h2>Update dictionary</h2>
    {% if updating_dic_now %}
    <p>Updating dictionary now! Please wait a minute.</p>
    {% else %}
    <form method="POST">
      <input type="submit" name="update" value="Update">
    </form>
    {% endif %}
 </body>
</html>
